boto3
botocore>=1.29.143  # resolution takes ages without this
clarifai_grpc
diskcache
duckduckgo-search
humanize
langchain
logzero
numpy
openai
pandas
pillow
pydantic
scipy
streamlit>=1.26
tabulate
wordcloud
